@model Proyecto_MongoDB.Models.CarModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CarModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cilindraje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cilindraje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoRegistracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoRegistracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaRegistracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaRegistracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", "InformacionCar", new { @id = Model.Id }, new { @class = "btn btn-default" }) |
    @Html.ActionLink("Back to List", "Index")
</p>
