@model IEnumerable<Proyecto_MongoDB.Models.CarModel>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cilindraje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoRegistracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaRegistracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Placa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cilindraje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoRegistracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaRegistracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Placa)
        </td>
        <td>@Html.ActionLink("Edit", "Edit", "Carinformation", new { @id=item.Id }, new {@class="btn btn-default"})</td>
        <td>@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })</td>
        <td>@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })</td>

    </tr>
}

</table>
