@model Proyecto_MongoDB.Models.ListaCompradosModel

@{
    ViewBag.Title = "Create";


    ViewBag.DefaultNombreComprador = Request["NombreComprador"];

    ViewBag.DefaultIDCarro = Request["IDCarro"];
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ListaCompradosModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NombreComprador, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NombreComprador, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.DefaultNombreComprador, disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.NombreComprador, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IDCarro, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IDCarro, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.DefaultIDCarro, disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.IDCarro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Comprar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
